do_token="X"
warrior_project="auto"
warrior_concurrency="2" 
warrior_downloader="X"
warriors_per_host="1"
do_ssh_keys="X" # comma-separated list
do_hosts="1"

do_region="nyc3"
# nyc1
# nyc2
# nyc3
# ams2
# ams3
# sfo1
# sfo2
# sfo3
# sgp1
# lon1
# fra1
# tor1
# blr1

do_host_type="s-6vcpu-16gb"
# s-1vcpu-1gb
# s-1vcpu-2gb
# s-1vcpu-3gb
# s-2vcpu-2gb
# s-3vcpu-1gb
# s-2vcpu-4gb
# s-4vcpu-8gb
# s-6vcpu-16gb
# s-8vcpu-32gb
# s-12vcpu-48gb
# s-16vcpu-64gb
# s-20vcpu-96gb
# s-24vcpu-128gb
# s-32vcpu-192gb
